* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: rgb(221, 221, 221);

    font-family: "Montserrat",Verdana,sans-serif;
}

.App, .TodoList, .Form, .AppHeader, .Input, 
.NoTodos, .HeaderText, .AddTodoButton, .MenuButton 
{
    background-color: rgb(255, 255, 255);
}

#root, .TodoItem, .Form, .TodoText, .DelIcon, .NoTodos {
    display: flex;
}

#root, .App, .TodoList, .Form, .NoTodos {
    justify-content: center;
}

.TodoList, .AppHeader, .DoneCheckbox, .DelButton {
    margin: 10px;
}

.TodoItem, .Input {
    border-radius: 5px;
}

.App {
    width: 400px;
    min-height: 400px;
    height: max-content;
    margin-top: 50px;
    border-radius: 10px;
    border-left: 2px solid rgb(152, 152, 152);
    border-bottom: 2px solid rgb(152, 152, 152);
}

.TodoList {
    display: grid;
}

.TodoItem {
    width: 300px;
    height: auto;
    background: rgb(230, 230, 230);
    margin: 5px;
}

.AppHeader {
    display: flex;
    font: bold;
    font-size: larger;
}

.TodoText {
    /* max-width:200px; */
    word-break: break-all;
    flex: 1;
    margin: 10px 10px 10px 0;
    font-size: small;
    color: rgb(81, 81, 81);
    background: rgb(230, 230, 230);
 
}

.DoneCheckbox {
    justify-self: left;
    cursor: pointer;
    align-self: center;
}

.Input {
    width: 268px;
    height: 30px;
    border: 1px solid grey;
}

.AddTodoButton {
    margin:  0 4px 0 6px;
    align-self: center;
}

.DelButton, .EditButton {
    background: rgb(230, 230, 230);
    cursor: pointer;
    align-self: center;  
}

.NoTodos {
    margin-top: 120px;
    color: rgb(169, 169, 169);
}

.EditTodoField {
    block-size: 100px;
    flex: 1;
    margin: 10px 10px 10px 0;
    font-size: small;
    background: rgb(241, 241, 241);
}

.HeaderText {
    text-align: center;
    flex: 5;
}

.MenuButton {

    align-self: center;
    margin-right: 7px;
}
