@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    background-color: ghostwhite;
    font-family: "Montserrat",Verdana,sans-serif;
}

#root {
    justify-content: center;
    display: flex;
}

@layer components {
    .todo {
        justify-content: center;
        align-content: center;
        flex-direction: column;
        border-radius: 0.25rem;
        width: 16rem;
        max-height: max-content;
        min-height: 12rem;
        background-color: white;
        margin: 1.25rem;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-color: rgb(161 161 170);
        text-align: center;
    }
    .todo-w {
        width: 16rem;
    }
    .todo-bg {
        background-color: white;
    }
    .todo-bd {
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-color: rgb(161 161 170);
    }
    .todo-bd-color {
        border-color: rgb(161 161 170);
    }
    .todo-text {
        text-align: center;
    }
    .todo-centering {
        justify-content: center;
        align-content: center;
    }
    .todo-menu {
        display: flex; 
        margin: 0.5rem; 
        background-color: white; 
        flex-direction: row;
    }
    



}
